.gallery__heading {
  display: flex;
  justify-content: space-between;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

