.footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@media (max-width: 580px) {
  .footer__wrapper {
    display: block;
  }
}
